<h2>User info</h2>
<% if @user && @user.profile_image.attached? %>
    <%= image_tag url_for(@user.profile_image), size: "100x100" %>
  <% else %>
    <%= image_tag 'default-image', size: "100x100" %>
  <% end %>

<table>
  <tbody>
    <tr>
      <td>
        <% if @user %>
          <div>name: <%= @user.name %></div>
          <div>introduction: <%= @user.body %></div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table> 

<div>
  <%= link_to "絵文字", edit_user_path(current_user) %>
</div>