<h2>Book detail</h2>

<table>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(current_user) do %>
          <%= image_tag @book.user.get_profile_image(100,100) %>
        <% end %>
      </td>
      <td>
        <%= link_to user.name, user_path(current_user) %>
      </td>
      <td>
        <%= link_to book.title, book_path(book.id) %>
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  </tbody>
</table>