<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5bd51b8c93.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a>
              <%= link_to root_path, class: "navbar-brand" do %>
                <span>Bookers</span>
              <% end %> 
            </a>
            
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <a>
                    <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                    <i class="fa-solid fa-home"></i>
                      <span>Home</span>
                    <% end %> 
                  </a>

                  <a>
                    <%= link_to "/users", class: "nav-link text-light" do %>
                    <i class="fa-solid fa-users"></i>
                      <span>Users</span>
                    <% end %> 
                  </a>

                  <a>
                    <%= link_to "/books", class: "nav-link text-light" do %>
                      <i class="fa-solid fa-book-open"></i>
                      <span>Books</span>
                    <% end %> 
                  </a>

                  <a>
                    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
                      <i class="fa-solid fa-sign-out-alt"></i>
                      <span>Log out</span>
                    <% end %> 
                  </a>
              
                <% else %>
                  <a>
                    <%= link_to root_path, class: "nav-link text-light" do %>
                      <i class="fa-solid fa-home"></i>
                      <span>Home</span>
                    <% end %> 
                  </a>

                  <a>
                    <%= link_to about_path, class: "nav-link text-light" do %>
                      <i class="fa-solid fa-link"></i>
                      <span>About</span>
                    <% end %>
                  </a>

                  <a>
                    <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
                      <i class="fa-solid fa-user-plus"></i>
                      <span>Sign up</span>
                    <% end %> 
                  </a>

                  <a>
                    <%= link_to new_user_session_path, class: "nav-link text-light" do %>
                      <i class="fa-solid fa-sign-in-alt"></i>
                      <span>Log in</span>
                    <% end %> 
                  </a>
                <% end %>
              </ul>
            </div>
        </div>
      </nav>
    </header>

    <main>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>
    
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
